---
apiVersion: v1
kind: Service
metadata:
  name: ${deployment}
  namespace: ${namespace}
  labels:
    app: ${app}
    stack: ${stack}
    branch: ${branch}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
  selector:
    app: ${app}
    stack: ${stack}
    branch: ${branch}
